<div class="modal-header">
    <h5 class="modal-title">Scopus Verification</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><br>
</div>
<div class="modal-body">
   {% if author %}
    <div class="row">
        <div class="col">
            <p>Name: </p>
        </div>
        <div class="col">
            <p>{{author.surname}}, {{author.name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Scopus Link: </p>
        </div>
        <div class="col">
            <a href="{{author.link}}" target="_blank">Link</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Number of Citations: </p>
        </div>
        <div class="col">
            <p>{{author.citation}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Number of Documents: </p>
        </div>
        <div class="col">
            <p>{{author.document}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Number of h-index: </p>
        </div>
        <div class="col">
            <p>{{author.h_index}}</p>
        </div>
    </div>
    {% else%}
    <p>{{message}}</p>
    {% endif %}

</div>
<div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
</div>