<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- Style -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/contentDeco/ubd-favicon.ico' %}"> 
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/applicationDet.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>My Non-Academic Application form</title>
</head>
<body style="background-color: rgb(253, 249, 249)">
    {% include 'main/constant/header.html' %}

    <br>
    
    <div class="container">
        <a href="{{request.META.HTTP_REFERER}}"><button type="button" class="btn nav-button">Go Back</button></a>

        <div class="appbox">
            <div id="form-details">
            <div id="section">
                <h3 style="text-align: center;">Permohonan saya untuk <br>{{application.job.name}}</h3>
                <br>

                <div class="row">
                <div class="col">
                    <p><strong>ID permohonan:</strong> {{application.id}}</p>
                    <p><strong>Nama pemohon: </strong>{{application.user.first_name}} {{application.user.last_name}}</p>
                    <p><strong>Tarikh Dihantar: </strong>{{application.date_added}}</p>
                    <p><strong>Status permohonan: </strong>{{application.applicant_status}}</p>
                </div>

                <div style="float: right;" class="col">
                    {% if applicant.profile.profilePic != '' %}
                        <img src="/media/{{application.profile.profilePic}}" alt=""  style="width: 40%; float:inline-end" /></a>
                    {% endif %}
                </div>
                </div>
              
                <hr/>
                
            </div>


            <div id="section">
                <h3>Perihal Peribadi</h3><br>
                <div class="row">
                    <div class="col-md-3"><strong>Nama Penuh</strong></div>
                    <div class="col-md-9">{{application.user.first_name}} {{application.user.last_name}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Jantina</strong></div>
                    <div class="col-md-9">{{application.profile.gender}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Warganegara</strong></div>
                    <div class="col-md-9">{{application.profile.nationality}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Bangsa</strong></div>
                    <div class="col-md-9">{{application.profile.citizenship}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Status Perkahwinan</strong></div>
                    <div class="col-md-9">{{application.profile.maritalStat}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Agama</strong></div>
                    <div class="col-md-9">{{application.profile.religion}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Nombor IC </strong></div>
                    <div class="col-md-9">{{application.profile.icPass}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Alamat Rumah </strong></div>
                    <div class="col-md-9">{{application.profile.address}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Nombor Telefon</strong></div>
                    <div class="col-md-9">{{application.profile.code}} {{application.profile.phoneNo}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong> Email </strong></div>
                    <div class="col-md-9">{{application.user.email}}</div><br><br>
                </div>
                {% if nonAcademic.drivingLicense == 'Yes' %}
                <div class="row">
                    <div class="col-md-3"><strong> Jenis lesen memandu </strong></div>
                    <div class="col-md-9">{{nonAcademic.drivingLicenseType}}</div><br><br>
                </div>
                {% endif %}
                <hr/>
            </div>


            <div id="section">
                <h3>Pekerjaan Sekarang</h3><br>
                <div class="row">
                    <div class="col-md-3"><strong> Nama Jawatan </strong></div>
                    <div class="col-md-9">{{application.presentEmployment.Present_post}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong> Tempat Jawatan </strong></div>
                    <div class="col-md-9">{{application.presentEmployment.Present_Employer}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Tarikh mula </strong></div>
                    <div class="col-md-9">{{application.presentEmployment.Current_post_appointment}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Gaji sebulan dalam BND</strong></div>
                    <div class="col-md-9">{{application.presentEmployment.Basic_salary}}</div><br><br>
                </div>
                <hr/>
            </div>


            <div id="section">
                <h3>Kelulusan Pendidikan Tinggi</h3><br>
                <div class="row">
                    <div class="col-md-3"><strong>Tahap pendidikan tertinggi</strong></div>
                    <div class="col-md-9">{{nonAcademic.highestEducationLevel}}</div><br><br>
                </div>
                <table class="table table-bordered">
                    <thead class="table-header">
                        <tr>
                        <th scope="col">Nama Sijil Kelulusan Pendidikan Tertinggi</th>
                        <th scope="col">Institusi</th>
                        <th scope="col">Negara</th>
                        <th scope="col">Kelas</th>
                        <th scope="col">Tarikh Anugerah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{application.academicRec.Academic_name}}</td>
                            <td>{{application.academicRec.Institute}}</td>
                            <td>{{application.academicRec.Country}}</td>
                            <td>{{application.academicRec.Grade}}</td>
                            <td>{{application.academicRec.Award_date}}</td>
                        </tr>
                    </tbody>
                </table>

                <hr/>

                
                {% if nonAcademic.workExperience != None %}
                <h3>Rekod Pekerjaan</h3><br>
                <h5>Rekod Pekerjaan terdahulu</h5>
                <table class="table table-bordered">
                        <thead class="table-header">
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Academic Position</th>
                            <th scope="col">Institute</th>
                            <th scope="col">Country</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>{{nonAcademic.workExperience.Industry_position}}</td>
                                <td>{{nonAcademic.workExperience.Previous_industry}}</td>
                                <td>{{nonAcademic.workExperience.Country}}</td>
                                <td>{{nonAcademic.workExperience.Start_date}}</td>
                                <td>{{nonAcademic.workExperience.End_date}}</td>
                            
                            </tr>

                        </tbody>
                    </table>
                <hr>
                {% endif %}
            </div>


            <div id="section">
                <h3>Languages</h3><br>
                <div class="row">
                    <div class="col-md-2"><strong>Malay</strong></div>
                    <div class="col-md-10">{{nonAcademic.languages.Malay}}</div><br><br>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>English</strong></div>
                    <div class="col-md-10">{{nonAcademic.languages.English}}</div><br><br>
                </div>
                
                
                <hr/>

               
            </div>



            <div id="documents">
                <h3>Documents</h3><br>
                {% for key , values in application.documents.items %}
                <div class="row">
                    <div class="col-md-2"><strong>{{values.name}}</strong></div>
                    <div class="col-md-10">
                        <p><embed src="{{values.file}}" type="application/pdf" height="700px" width="500"></embed></p>
                        <a href='{{values.file}}'>View document</a>
                    </div><br><br>
                </div>
                {% endfor %}
                
            </div>
            

        </div>
    </div>
    </div>
 {% include 'main/constant/footer.html' %}


</body>
</html>