<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminder Email</title>
</head>
<body>
    <h4>Dear {{context.fullname}} ,</h4>
    <p>This is a friendly reminder to complete and submit your drafted job application.
    If you've saved your application as a draft, please take a moment to finalize and submit it before the due date to be considered for the position.
    The due date for this job application is <b>{{context.due_date}}</b>
    <br><br>
    Should you have any inquiries or require assistance during the submission process, please do not hesitate to reach out to us.
    Thank you for your cooperation.</p>


    
</body>
</html>